<!-- <div *ngFor="let programmingLanguage of programmingLanguages" style="position: sticky;top:0;background:yellow;">
    <a [routerLink]="''" [fragment]="programmingLanguage">{{programmingLanguage}}</a>
</div>

<div class="container" *ngFor="let programmingLanguage of programmingLanguages" [attr.id]="programmingLanguage">
    <h1>{{programmingLanguage}}</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam minima quis error laborum corporis, qui sint
        deleniti porro voluptatibus maxime voluptate itaque rem nulla modi, ipsum magnam iusto fugit esse.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam minima quis error laborum corporis, qui sint
        deleniti porro voluptatibus maxime voluptate itaque rem nulla modi, ipsum magnam iusto fugit esse.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam minima quis error laborum corporis, qui sint
        deleniti porro voluptatibus maxime voluptate itaque rem nulla modi, ipsum magnam iusto fugit esse.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam minima quis error laborum corporis, qui sint
        deleniti porro voluptatibus maxime voluptate itaque rem nulla modi, ipsum magnam iusto fugit esse.Lorem ipsum
        dolor sit amet consectetur adipisicing elit. Ullam minima quis error laborum corporis, qui sint
        deleniti porro voluptatibus maxime voluptate itaque rem nulla modi, ipsum magnam iusto fugit esse.Lorem ipsum
        dolor sit amet consectetur adipisicing elit. Ullam minima quis error laborum corporis, qui sint
        deleniti porro voluptatibus maxime voluptate itaque rem nulla modi, ipsum magnam iusto fugit esse.Lorem ipsum
        dolor sit amet consectetur adipisicing elit. Ullam minima quis error laborum corporis, qui sint
        deleniti porro voluptatibus maxime voluptate itaque rem nulla modi, ipsum magnam iusto fugit esse.Lorem ipsum
        dolor sit amet consectetur adipisicing elit. Ullam minima quis error laborum corporis, qui sint
        deleniti porro voluptatibus maxime voluptate itaque rem nulla modi, ipsum magnam iusto fugit esse.Lorem ipsum
        dolor sit amet consectetur adipisicing elit. Ullam minima quis error laborum corporis, qui sint
        deleniti porro voluptatibus maxime voluptate itaque rem nulla modi, ipsum magnam iusto fugit esse.Lorem ipsum
        dolor sit amet consectetur adipisicing elit. Ullam minima quis error laborum corporis, qui sint
        deleniti porro voluptatibus maxime voluptate itaque rem nulla modi, ipsum magnam iusto fugit esse.Lorem ipsum
        dolor sit amet consectetur adipisicing elit. Ullam minima quis error laborum corporis, qui sint
        deleniti porro voluptatibus maxime voluptate itaque rem nulla modi, ipsum magnam iusto fugit esse.Lorem ipsum
        dolor sit amet consectetur adipisicing elit. Ullam minima quis error laborum corporis, qui sint
        deleniti porro voluptatibus maxime voluptate itaque rem nulla modi, ipsum magnam iusto fugit esse.Lorem ipsum
        dolor sit amet consectetur adipisicing elit. Ullam minima quis error laborum corporis, qui sint
        deleniti porro voluptatibus maxime voluptate itaque rem nulla modi, ipsum magnam iusto fugit esse.
    </p>
</div> -->
<!-- <p paragraph>Paragraph Content</p>
<ng-content></ng-content> -->