<!-- <div class="container mt-5">
    <table>
        <tr>
            <th>ID</th>
            <th>Post ID</th>
            <th>Name</th>
            <th>Body</th>
            <th>Email</th>
        </tr>
        <tr *ngFor="let comment of comments">
            <td>{{comment.id}}</td>
            <td>{{comment.postId}}</td>
            <td>{{comment.name}}</td>
            <td>{{comment.body}}</td>
            <td>{{comment.email}}</td>
        </tr>
    </table>
</div> -->


<div class="container mt-5 ms-5">
    <form (ngSubmit)="sendComments()" [formGroup]="formGroup">
        <input class="form-control" formControlName="name" type="text" placeholder="Enter Name">
        <input class="form-control mt-2" formControlName="email" type="email" placeholder="Enter Email">
        <input class="form-control mt-2" formControlName="body" type="text" placeholder="Enter Body">
        <button class="btn btn-success mt-2" type="submit">Send Comments</button>
    </form>
</div>